p{
    color: red;
}

#header{
    display: inline-block;
    
}

#icono{
    float: left;
}

footer{
    display: inline-block;
    vertical-align: bottom;
/*    position: fixed;*/
    
    bottom: 0px;
    left: 0px;
    z-index: 99;
    width: 100%;
    padding-left: 10px;
    padding-bottom: 5px;
    
}
#redesnav ul li{
    display: inline;
}

#flechascroll{
    float: right;
    font-size: 3em;
    margin-right: 20px;
    position: fixed;
    bottom: 5px;
    right: 3px;
}